body {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.myphoto {
 border-radius: 70%;
 border-color: 2px solid rgb(235, 41, 73);
 padding-left: 15px;
 padding-top: 5px;
}

.post {
    background-color: palevioletred;
    padding: 10px;
    border: 2px solid;
    margin: 10px;
    border-radius: 5px;
}

#title, .subtitle {
    color: rgb(235, 41, 73)
}

#title {
font-size: 40px;
text-transform: uppercase;
text-align: justify;
}

.subtitle{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 25px;
}

.posttitle {
    color: white;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    text-align:justify;
}

.postimage{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_title {
    font-size: 25px;
    color:rgb(235, 41, 73)    
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}

